
*{
	margin:0;
	padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:62.5%;
  margin-bottom: 70px!important;

}
.container{
  padding-top: 45px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 540px;
}
.warn-text{
	color:#f30;
}
/* home */
.center{
  text-align: center;
}
.home-card img{
	max-width: 64px;
	max-height: 64px;
}
.home-card li{
	list-style: none;
	height: 30px;
	line-height: 30px;
	border-bottom: solid 1px #eee;
}
.home-card strong{
	float: right;
}
.btn{
  color: #fff;
  background-color: #108ee9;
  border: 1px solid #108ee9;
  border-radius: 5px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  height: 47px;
  line-height: 47px;
}

.am-navbar{
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  z-index: 100;
}

.basic .am-list-item{
  min-height: 55px;
}
.issue .am-list-item.am-input-item{
  height: 60px;
} 
.issue .am-list-item .am-input-control input{
  height: 44px;
  line-height: 44px;
}
.detail .am-list-item .am-list-line .am-list-extra{
    -webkit-flex-basis: 56%; /* Safari 6.1+ */
    flex-basis: 56%;
    white-space: normal;
}
.detail .am-accordion .am-accordion-item .am-accordion-header{
  color:#686464;
}

.pledge .am-list-item .am-input-label.am-input-label-5 {
    white-space: normal;
    width: 140px;
}
.issue .am-list-item .am-input-label.am-input-label-5 {
    white-space: normal;
    width: 130px;
}

