*{
  margin:0;
  padding:0;
}
a {
  text-decoration: none;
  color: #000;
}
html,body{
    min-width: 320px;
    max-width: 540px;
    background-color: #f7f7f7;
    font-size: 14px;
    margin:0 auto;
    padding-bottom: 50px;
}
/* head */
.head{
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    height: 44px;
    line-height: 44px;
    background: #fff;
    text-align: center;
    font-size: 16px;
}
.head span{
    display: inline-block;
    width: 40px;
    height: 44px;
    line-height: 44px!important;
    float: left;
}

/* footer */
.bottom-bar{
    position: fixed;
    height: 50px;
    overflow: hidden;
    width: 100%;
    z-index: 31;
    bottom: 0;
    left: 0;
    text-align: center;
    border-top:solid 1px #ccc;
    box-shadow: 0 -2px 5px #E3E0E0;
    background-color: #fff;
}
.bottom-bar a{
    height: 50px;
}
.home a:first-child{
    border-right: solid 1px #ccc;
}
.bottom-bar img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    overflow: hidden;
}
/*home*/
.cont{
    margin-top: 20px;
}
/* element */
.element{
    height: auto;
    overflow: hidden;
    border-left: solid 1px #D0D3D4;
    border-bottom: solid 1px #D0D3D4;
    margin-bottom: 20px;
}
.element-title {
    width: auto;
    height: 40px;
    background: #d8d8d8;
    color: #000000;
    line-height: 40px;
    padding: 0px 5px;
}
.element-title-f {
    font-size: 16px;
    float: left;
}
.element-title-f a{
    color:#648EFF;
}
.element-title-r {
    font-size: 14px;
    float: right;
}
.element-title-r span {
    color: #cc0033;
}
.element-ul .element-li{
    width: 50%;
    height: 80px;
    line-height: 40px;
    float: left;
    font-size: 12px;
}
.element-ul .element-li .one,.element-ul .element-li .two{
    padding-left: 5px;
}
.element-ul .element-li .two{
    background: url(img/border.png) repeat-y right top #f2f4f3;
}
.element-ul .element-li .one{
    font-size: 14px;
    background: url(img/border.png) repeat-y right top;
}
/*home-no empty-content*/
.empty-content{
    width: 100%;
    height: 460px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -230px;
    margin-left: -50%;

}
.empty-content .h3 {
    font-size: 25px;
    text-align: center;
    color: #cc0033;
    margin: 50px 0;
    font-weight: bold;
}
.empty-content p {
    text-align: center;
    font-size: 11px;
    color: #030303;
}
.empty-content img {
    display: block;
    /* width: 41.94%; */
    margin: 0 auto;
    margin-top: 3.8135%;
    margin-bottom: 3.39%;
}
.empty-content a {
    width: 160px;
    height: 64px;
    background: #000;
    font-size: 15px;
    text-align: center;
    line-height: 64px;
    margin: 0 auto;
    color: #fff;
    display: block;
    letter-spacing: 2px;
}
.empty-content a span {
    background: url(img/ico-white-arrow.png) no-repeat center right;
    padding-right: 19px;
}

/*btns*/
.btns{
    display: flex;
    justify-content: space-around;
}
.btns .cancel:first-child{
    background-color: #ccc;
} 
.btns .press{
    width: auto;
    min-width: 140px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color:#fff;
    background-color:#000;
}
.btns .press:hover{
    color:#fff;
    background-color:#333;
}
/* input-group */
.input-group {
  width: 100%;
  position: relative;
}
.input-group .title {
  width: 150px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 12px;
}
.input-group .title span {
  font-family: 'Microsoft Yahei', '微软雅黑';
  font-size: 18px;
  color: #cc0033;
  line-height: 40px;
  font-size: small;
}
.input-group .title.span {
  text-indent: 10px;
}
.input-group .module {
  min-height: 40px;
  margin-left: 150px;
}
.input-group .module .input,.input-group .module select {
  width: 100%;
  height: 40px;
  line-height: normal;
  font-size: 14px;
  background-color: #fff;
  border: solid 1px #d5d9d8;
  text-indent: 6px;
}
.input-group .module .error-msg {
  display: none;
  width: 100%;
  line-height: 30px;
  color: #cc0033;
  font-size: 12px;
  background-image: url(img/ico-error.png);
  background-image: url(img/ico-error-ie8.png)\9;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  text-indent: 25px;
  margin-top: 4px;
  margin-bottom: 13px;
}
.input-group .module input.code {
  float: left;
}
.input-group .module input.get-code {
  float: right;
}

.button-group {
  overflow: hidden;
}
.btn-primary {
  width: auto;
  min-width: 140px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  float: left;
  background-color: #000;
  outline: none;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
.btn-primary span {
  position: relative;
  height: 44px;
  display: inline-block;
}
.btn-primary span img {
  position: absolute;
  right: -28px;
  top: 17px;
  width: 10px;
  height: 11px;
}
.btn-primary.prev span img {
  position: absolute;
  left: -28px;
  top: 15px;
}
.btn-primary.prev {
  padding: 0 24px 0 42px;
}
.btn-primary:hover {
  background-color: #434c53;
}
.btn-primary-on {
  background-color: #434c53;
}
.btn-primary.w4-5 {
  width: 148px;
}
.btn-primary.w4-5 span img {
  right: -14px;
}

.gray-row {
    width: 100%;
    height: 44px;
    background-color: #F0F0F0;
    margin: 20px 0;
    position: relative;
}
.gray-row .row-title {
    text-indent: 12px;
    line-height: 44px;
    font-size: 14px;
    float: left;
}

.gray-row a.un-arrow,.gray-row a.up-arrow{
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    display: inline-block;
}

/* home-detail */
.display{
  display: none;
}
.un-arrow{
    background: url(img/ico-un-arrow.png) no-repeat center;
}
.up-arrow{
    background: url(img/ico-un-arrow-up.png) no-repeat center;
}

.detail form,.item{
  background-color: #fff;
  margin-top: 10px;
}
.detail ul{
  list-style-type: none;
  font-size: 12px;
  line-height: 38px;
  padding-left: 5px;
}
.detail form li{
  margin:10px 0px;
  border-bottom:solid 1px #e5e5e5;
}

/* hpme-issue */
.reg-loguet {
    font-size: 10px;
    color: #8c8c8c;
    margin-bottom: 20px;
    margin-top: 29px;
}
.reg-loguet span {
    color: #cc0033;
}
.reg ul li {
    margin-bottom: 17px;
    display: inline-block;
    width: 100%;
    line-height: 38px;
    font-size: 14px;
}

.reg .button-group {
    margin-top: 20px;
}
.reg .btn-primary{
    float: left;
    margin-left: 80px;
}

.gray-row a.un-arrow{
    background: url(img/b.png) no-repeat center;
}
.conceal{
  height: 0px;
  overflow: hidden;
}
.item{
  padding: 5px;
  position: relative;
}
.item .arrow{
    position: absolute;
    top:0px;
    width: 44px;
    height: 44px;
    display: inline-block;
}
.delate{
      background: url(img/common-pro.png) no-repeat center;
      right: 0px;
}
.add{
      right: 40px;
      background: url(img/select-consulting.png) no-repeat center;
}

@media screen and (max-width: 768px) {
  .empty-content .h3 {
      font-size: 29px;
      margin: 0;
      height: 55px;
  }
  .empty-content img {
      width: 60%;
      margin: 0 auto;
      margin-top: 38px;
      margin-bottom: 38px;
  }
  .empty-content a {
      width: inherit;
      height: 50px;
      font-size: 18px;
      line-height: 50px;
  }
  .input-group .title {
      width: 100%;
      position: relative;
    }
    .input-group .module {
      margin-left: 0;
    }
    .input-group .module .input {
      height: 50px;
    }
  .btn-primary {
      height: 50px;
      line-height: 50px;
      width: 100%;
      font-size: 18px;
      background-position: 60% center;
    }
    .btn-primary span {
      height: 50px;
    }
    .btn-primary span img {
      top: 17px;
      width: 11px;
      height: 15px;
    }

  .button-group {
    margin-top: 20px;
    width: 291px;
    margin: 0 auto;
  }
  .reg {
    width: 100%;
    margin: 0 auto;
  }
  .reg .btn-primary{
    width: 30%;
    margin-left: 0px;
  }
  .reg .btn-primary.sub {
    margin-left: 10px;
  }
}